@page
@model ProiectWeb.Pages.V2.LoginModel
<h2>Login V2 (Securizat)</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    Email: <input type="email" asp-for="Email" /><br/>
    Parola: <input type="password" asp-for="Password" /><br/>
    <button type="submit">Login</button>
</form>