@page
@model ProiectWeb.Pages.V2.ResetPasswordModel
<h2>Reset Password V2 (Securizat)</h2>
<form method="post">
    <input type="hidden" asp-for="Token" />
    Noua Parola: <input type="password" asp-for="NewPassword" /><br/>
    <button type="submit">Reseteaza</button>
</form>
<p>@Model.Message</p>