@page
@model ProiectWeb.Pages.V1.ForgotPasswordModel
<h2>Forgot Password V1 (Vulnerabil)</h2>
<form method="post">
    Email: <input type="text" asp-for="Email" /><br/>
    <button type="submit">Reset</button>
</form>
<p>@Model.Message</p>