@page
@model ProiectWeb.Pages.V1.RegisterModel
<h2>Inregistrare V1 (Vulnerabil)</h2>
<form method="post">
    Email: <input type="text" asp-for="Email" /><br/>
    Parola: <input type="text" asp-for="Password" /><br/>
    <button type="submit">Inregistrare</button>
</form>