@page
@model ProiectWeb.Pages.V1.ResetPasswordModel
<h2>Reset Password V1 (Vulnerabil)</h2>
<form method="post">
    <input type="hidden" asp-for="Token" />
    Noua Parola: <input type="text" asp-for="NewPassword" /><br/>
    <button type="submit">Reseteaza</button>
</form>
<p>@Model.Message</p>